<div class="about_box">
	<h1>How It Works</h1>
	<p>
		TechTo-Me provides professional and affordable tech installation and support. Our knowledgeable team will provide you fast and reliable services resolving all you technical needs.
	</p>
</div>

<div class="about_box">
	<h1>We Come To You</h1>
	<p>
		We undestand that your time is precious. Never take time off work or waste time bringing equipment to us. We have a fleet of fully equipped service vehicles and would be more than happy to come to you for any of your technical needs. We provide services for both residential and business.
	</p>
</div>

<div class="about_box">
	<h1>Why Us?</h1>
	<p>
		Have you ever been frustrated with phone tech support? You will never have to wait on the phone for hours ending in an unresolved conflict. We will setup everything and walk you through it until you are satisfied.
	</p>
</div>

<div class="clear"></div>