<h3>Make An Appointment</h3>

<div id="appointment_wrapper">
	<div id="appointment_form"></div>
	<div id="appointment_info"></div>

</div>


<form action="test">
 Name * <br> <input type="text" name="Name">
<br>
Email * <br> <input type="text" name="Email">
<br>
Mobile * <br> <input type="text" name="phone"><br>
Location <br> <input type="text" name="address" placeholder="Address City State"><br>
Zip <br> <input type="text" name="zip"> <br>

Date
<select>
  <option value="Monday">Monday</option>
  <option value="Tuesday">Tuesday</option>
  <option value="Wednesday">Wednesday</option>
  <option value="Thursday">Thursday</option>
  <option value="Friday">Friday</option>
  <option value="Saturday">Saturday</option>
  <option value="Sunday">Sunday</option>
</select>
Wh<!-- en <br> <input type="text" name="date"> -->


<p class="submit_row">
	<button type="submit ">Submit</button>
</p> 