


<div id="contact_wrapper">
	<div id="contact_form"></div>
	<div id="contact_info"></div>

</div>


<form action="demo">
Your Name (required) <br> <input type="text" name="FirstName">
<br>
Your Email (required) <br> <input type="text" name="Email">
<br>
Subject <br> <input type="text" name="Sub"><br>
Your Message <br>
<textarea rows="4" cols="100"></textarea>
</form>

<p class="submit_row">
	<button type="submit ">Submit</button>
</p>

<!-- <aside id="Contact_info">
	<dl>
		<dt>Email</dt>
		<dd>TechToMe.com</dd>
		<dt>Telephone</dt>
		<dd>215-333-333</dd>
		<dt>Follow our every move</dt>
		<dd> <a href="https://www.facebook.com">Our Facebook Page</a><br>
		<a href="https://twitter.com/">Our Twitter Page</a>

		</dd>

	</dl>
</aside> -->

<div id="side_wrapper">
<aside id="contact_info">
    <dl>
      <dt>Email</dt>
      <dd><a href="TechToMe.com" title="Click to send us an email">TechToMe.com</a></dd>
      <dt>Customer Service</dt>
      <dd><a href="Telephone" title="Click to call us">215-777-7777</a></dd>
      <dt>Follow Us </dt>
      
      
      <dd class="social-links">
        <a class="fb" href="http://www.facebook.com/Combadi" title="Find us on Facebook">Facebook</a>
        <a class="tt" href="http://twitter.com/combaditravel" title="Find us on Twitter">Twitter</a>
      </dd>
    </dl>
  </aside>
 </div>

<br>



<p>Contact Us</p>


</div>