<div class="home_box">
	<h1>Basic Plan</h1>
	<ul>
		<li>Basic Installation (excludes extra parts)</li>
		<li>Tech Support (busines hours)</li>
		<li>30-day Satisfaction Guarantee</li>
	</ul>
</div>

<div class="home_box">
	<h1>Advantage Plan</h1>
	<ul>
		<li>Advanced Installation</li>
		<li>Additional Parts at No Cost</li>
		<li>Tech Support (business hours)</li>
		<li>90-day Satisfaction Guarantee</li>
	</ul>
</div>

<div class="home_box">
	<h1>Premium Plan</h1>
	<ul>
		<li>Premium Installation</li>
		<li>Additional Parts at No Cost</li>
		<li>Tech Support (24 hours)</li>
		<li>6 months Satisfaction Guarantee</li>
		<li>Unlimited Appointments (6 months)</li>
	</ul>
</div>

<div class="clear"></div>