<div class="services_box">
	<h1>Device Installation</h1>
	<ul>
		<li>Computers</li>
		<li>Tablets</li>
		<li>Smartphones</li>
	</ul>
</div>

<div class="services_box">
	<h1>Network Installation</h1>
	<ul>
		<li>Cable Modems</li>
		<li>Routers</li>
		<li>Wi-Fi</li>
	</ul>
</div>

<div class="services_box">
	<h1>Printer Installation</h1>
	<ul>
		<li>Inkjet Printers</li>
		<li>Laser Printers</li>
	</ul>
</div>

<div class="clear"></div>