*{
   margin: 0px;
   padding: 0px;
}

html{
	font-family: Garamond;
}

header{
	border: solid 2px red;
	background-color: #e9e9e9;
	max-width: 1140px;
	margin: 0 auto;
}

#logo{
	border: solid 2px black;
	width: 150px;
	height: 75px;
	float: left;
}
nav{
	border: solid 2px blue;
	overflow: auto;
	max-width: 700px;
	min-width: 407px;
	margin-top: 30px;
}

#nav{
	border: solid 2px green;
	list-style: none;
	padding-left: none;
	float: left;
}

#nav li{
	border: solid 2px orange;
	background-color: #e9e9e9;
	display: inline-block;
	padding: 10px;
}

li a{
	text-decoration: none;
	color: white;
}


#login{
	border: solid 2px yellow;
	width: 100px;
	height: 50px;
	float: right;
}

#container{
	border: solid purple;
	max-width: 1140px;
	margin: 0 auto;
}

img{
	width: 100%;
}

.clear{
	clear: both;
}

/*_________________*/

input {
	padding: 5px;
	width: 25%;
	font-size: 12px;
}

textarea {
	font-size: 12px;
}

.submit_row {
/*	letter-spacing: 10px;
	font-size: none;
	line-height: 30px;
	background-color: #e8554e;
	color: white;
	display: inline-block;
	text-transform: uppercase;
	font-weight: 700;
	vertical-align: middle;*/

}

#side_wrapper {
	position: absolute;
	right: 70px;
	bottom: 0px;
	border: 10px solid white;
	width: 250px;
}

form {
	font-family: "lft-etica",sans-serif
}




